<div>
  <% @comments.each do |comment| %>
    <div style="color: #777; font-size: 10px;">
      <%= comment.name %>
      -
      <%= l comment.created_at, format: :short %>
    </div>
    <div><%= comment.body %></div>
    <hr>
  <% end %>
</div>